body {
  background-color: #eee;
  font-family: sans-serif;
}

.card {
  display: inline-block;
  position: relative;
  width: 5em;
  height: 7em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
}

.card.DIAMONDS, .card.HEARTS {
  color: red;
}

.card-topleft {
  position: absolute;
  top: 0.5em;
  left: 0.75em;
}


.card-bottomright {
  position: absolute;
  bottom: 0.5em;
  right: 0.75em;
  transform: rotate(180deg);
}

.card-corner-rank, .card-corner-suit {
  text-align: center;
  transform: translate(-50%, 0);
}

.card-suit {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameTable {
  position: relative;
  color: #fff;
  background: green;
  width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 50px;
}
